html {
  font-size: 62.5%;
  font-family: 'Roboto'; }

body {
  padding-bottom: 5rem;
  padding-top: 7rem;
  background-color: white; }

.primary-btn {
  font-size: 2rem;
  color: white;
  background-color: black;
  border: 0.15rem solid black;
  margin: 2rem 0.5rem 4rem 0.5rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 25rem; }
  .primary-btn:hover {
    cursor: pointer;
    transform: scale(1.1); }

.secondary-btn {
  font-size: 2rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 0.15rem solid black;
  margin: 2rem 0.5rem 4rem 0.5rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 25rem; }
  .secondary-btn:hover {
    cursor: pointer;
    border: 0.3rem solid black; }

.remove-btn {
  color: white;
  background-color: #dc0000;
  border: 0.15rem solid #dc0000;
  margin: 0.2rem 0.5rem 0.4rem 0.5rem;
  padding: 0.8rem; }
  .remove-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #dc0000; }

.admin-btn:hover {
  cursor: pointer;
  background-color: #197735;
  color: white; }

.edit-btn {
  color: #008bdc;
  background-color: white;
  border: 0.15rem solid #008bdc;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  padding: 0.8rem; }
  .edit-btn:hover {
    cursor: pointer;
    background-color: #008bdc;
    color: white; }

.standard-btn-no-margin {
  color: black;
  background-color: white;
  border: 0.15rem solid black;
  margin-bottom: 0.4rem;
  padding: 0.8rem; }

.btn-link {
  padding-left: 0px;
  font-size: 1.8rem; }

.selector-list {
  list-style: none;
  text-align: left; }
  .selector-list-item:hover {
    cursor: pointer;
    font-weight: 500; }

.footer {
  height: 3rem;
  font-size: 1.4rem;
  padding: 1rem 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  text-align: center; }

.nav__link {
  position: relative;
  text-decoration: none;
  color: black; }
  .nav__link__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.home-image {
  height: 80vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }
  .home-image-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 500; }

.home-about {
  padding-top: 1rem; }
  .home-about-image {
    object-fit: cover;
    width: 100%; }
  .home-about-text {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center; }
    .home-about-text h3 {
      font-size: 3rem; }
    .home-about-text p {
      font-size: 1.3rem; }

.home-products {
  padding-top: 1rem;
  display: flex; }
  .home-products-container {
    position: relative;
    height: 40rem;
    width: 33%;
    object-fit: cover; }
  .home-products :nth-child(2) {
    padding: 0 1rem; }
  .home-products-image {
    height: 40rem;
    width: 100%;
    object-fit: cover; }
  .home-products-text {
    display: none;
    position: absolute;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home-products-container:hover .home-products-text, .home-products-text:hover {
    display: inline-block; }
  .home-products-container:hover .home-products-image {
    opacity: 0.5; }

.login {
  height: 100vh; }
  .login-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .login-form-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 10rem;
      font-size: 1rem;
      margin-top: 5rem; }
      .login-form-header img {
        height: 6rem; }
  .login-submit {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .login-submit-button {
      margin: 1rem;
      width: 20rem; }
  .login-image {
    background-image: url("https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.products-container {
  display: flex;
  flex-direction: row; }

.category-selector {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: left; }

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .products-item {
    padding: 2rem; }
    .products-item-image {
      height: 25rem;
      width: 25rem;
      object-fit: cover; }
    .products-item-info {
      padding-top: 1rem; }
    .products-item-name {
      font-size: 1.5rem; }
    .products-item-price {
      font-size: 1.8rem;
      font-weight: 500; }
