html {
  font-size: 62.5%; }

body {
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: white; }

.standard-btn {
  color: white;
  background-color: black;
  border: 0.15rem solid black;
  margin: 2rem 0.5rem 4rem 0.5rem;
  padding: 0.8rem; }
  .standard-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black; }

.remove-btn {
  color: white;
  background-color: #dc0000;
  border: 0.15rem solid #dc0000;
  margin: 0.2rem 0.5rem 0.4rem 0.5rem;
  padding: 0.8rem; }
  .remove-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #dc0000; }

.admin-btn:hover {
  cursor: pointer;
  background-color: #197735;
  color: white; }

.edit-btn {
  color: #008bdc;
  background-color: white;
  border: 0.15rem solid #008bdc;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  padding: 0.8rem; }
  .edit-btn:hover {
    cursor: pointer;
    background-color: #008bdc;
    color: white; }

.standard-btn-no-margin {
  color: black;
  background-color: white;
  border: 0.15rem solid black;
  margin-bottom: 0.4rem;
  padding: 0.8rem; }

.btn-link {
  padding-left: 0px;
  font-size: 1.8rem; }

.login {
  height: 100vh; }
  .login__form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .login__form__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 10rem;
      font-size: 1rem;
      margin-top: 5rem; }
      .login__form__header img {
        height: 6rem; }
  .login__submit {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .login__submit__button {
      margin: 1rem;
      width: 20rem; }
  .login__image {
    background-image: url("https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
