.primary-btn {
  font-size: 2rem;
  color: white;
  background-color: black;
  border: 0.15rem solid black;
  margin: 2rem 0.5rem 4rem 0.5rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 25rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.secondary-btn {
  font-size: 2rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 0.15rem solid black;
  margin: 2rem 0.5rem 4rem 0.5rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 25rem;

  &:hover {
    cursor: pointer;
    border: 0.3rem solid black;
  }
}

.remove-btn {
  color: white;
  background-color: rgb(220, 0, 0);
  border: 0.15rem solid rgb(220, 0, 0);
  margin: 0.2rem 0.5rem 0.4rem 0.5rem;
  padding: 0.8rem;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(220, 0, 0);
  }
}

.admin-btn:hover {
  cursor: pointer;
  background-color: rgb(25, 119, 53);
  color: white;
}

.edit-btn {
  color: rgb(0, 139, 220);
  background-color: white;
  border: 0.15rem solid rgb(0, 139, 220);
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  padding: 0.8rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(0, 139, 220);
    color: white;
  }
}

.standard-btn-no-margin {
  color: black;
  background-color: white;
  border: 0.15rem solid black;
  margin-bottom: 0.4rem;
  padding: 0.8rem;
}

.btn-link {
  padding-left: 0px;
  font-size: 1.8rem;
}
