.home {
  &-image {
    height: 80vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    &-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &-about {
    padding-top: 1rem;
    &-image {
      object-fit: cover;
      width: 100%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      align-items: center;

      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }

  &-products {
    padding-top: 1rem;
    display: flex;

    &-container {
      position: relative;
      height: 40rem;
      width: 33%;
      object-fit: cover;
    }

    :nth-child(2) {
      padding: (0 1rem);
    }

    &-image {
      height: 40rem;
      width: 100%;
      object-fit: cover;
    }

    &-text {
      display: none;
      position: absolute;
      font-size: 2.2rem;
      font-weight: 500;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-container:hover &-text,
    &-text:hover {
      display: inline-block;
    }

    &-container:hover &-image {
      opacity: 0.5;
    }
  }
}
